@import url("https://fonts.googleapis.com/css?family=Handlee&display=swap");

.select-menu{
  margin: 0px auto;
}

.select-menu-left{
  float:left;
  margin-right: 10px;
}

.row-container{
  border: 2px solid black;
  padding: 20px;
  margin: 25px;
  background-color: snow;
  font-family: 'Handlee', cursive;
  font-size: 1.2em;
}

.col-sm{
  text-align: center;
}

.center-div{
  padding: 20px;
}

.search{
  margin-left: 750px;
}

.form-control:focus {
  outline: 0 !important;
  border-color: initial;
  box-shadow: none;
}

.navCustom{
  font-family: 'Handlee', cursive;
  font-size: 1.5em;
}

.errorBox{
  margin: 0px auto;
  border: 2px solid black;
  width: 500px;
  padding: 25px;
  text-align: center;
  margin-top: 25px;
  color: red;
  font-family: 'Handlee', cursive;
  font-size: 1.2em;
  background-color:snow;
}